<div class="toolcontrols">
    <strong>Top N </strong><input type="text" class="cutoff" placeholder="10">
  	<button class="reload">Query</button>
  	<button class="defaults">Reset</button>
 </div>




